<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./create-css.css">
    <title>User Create</title>

</head>
<body>
    <div class="main">
        <form action="">
            <div class="username">
                <div class="lastName">
                    <p>last name</p>
                    <input type="text" name="username" id="">
                </div>
                <div class="firstName">
                    <p>first Name</p>
                    <input type="text" name="username" id="">
                </div>
            </div>
            <div class="useraddress">
                <p>address</p>
                <input type="text" name="username" id="">
            </div>
        </form>
    </div>
</body>
</html>